<header>
   <nav class ="navbar fixed-top navbar-dark" style="background-color: #024879;" >
         <a href="#" class = "navbar-brand">
                  <img  id= log src="https://raw.githubusercontent.com/bosch-mining/web-development-internship/master/logo.png" width="120" height="30" class="d-inline-block align-top" alt="bosch" > My To Do List
         </a>
   </nav>
</header>

<section>
         <main class= "container">
                <router-outlet></router-outlet>
         </main>
</section>
<footer class= "mt-2 p-2 text-center">
              <a href= "https://www.bosch.com.br/">Bosch Group</a>
</footer>
